{
  "mcpServers": {
    "memory": {
      "command": "docker",
      "args": ["run", "-i", "--rm", "-e", "WEAVIATE_HOST=host.docker.internal", "-e", "WEAVIATE_PORT=8080", "-e", "OLLAMA_EMBEDDING_URL=http://host.docker.internal:11434/api/embeddings", "-e", "EMBEDDING_MODEL=snowflake-arctic-embed2", "-e", "PORT=7041", "-p", "7041:7041", "--name", "mcp-memory", "mcp-memory"],
      "disabled": false,
      "autoApprove": []
    },
    "time": {
      "command": "uvx",
      "args": ["mcp-server-time", "--local-timezone=America/Los_Angeles"],
      "disabled": false,
      "autoApprove": []
    },
    "fetch": {
      "command": "docker",
      "args": ["run", "-i", "--rm", "mcp/fetch"],
      "disabled": false,
      "autoApprove": []
    },
    "duckduckgo": {
      "command": "docker",
      "args": ["run", "-i", "--rm", "ashdev/duckduckgo-mcp-server"],
      "disabled": false,
      "autoApprove": []
   }
  }
}
